.container {
    width: 100vw;
    height: 300px;
    max-width: 300px;
    background-color: teal;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 5px;
    cursor: pointer;
  }
  body.over .container {
      cursor: no-drop;
    }
    body.over .container .item {
      pointer-events: none;
    }
    .cell {
      width: 100%;
      height: 100%;
      background-color: purple;
    }

  .X {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSywrTibTcIK36nT-dH3AlYIBPcsmeI8nFV1YqloGYVypCfet8rFM9zJkoOAkyV470PBoE&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    
  }
  .cpu {
    background-image: url(https://e7.pngegg.com/pngimages/330/595/png-clipart-black-circle-map-circle-monochrome-wikimedia-commons.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }
  
  